   body {
       width: 1600px;
       height: 8633px;
   }
   
   .content {
       position: relative;
       width: 1600px;
       height: 7406px;
       background: #FFFFFF;
   }
   
   .content-box-great-service {
       position: absolute;
       width: 746px;
       height: 143px;
       left: 470px;
       top: 95px;
   }
   
   .content-box-great-service-title {
       position: relative;
       top: -17px;
       font-family: Poppins;
       font-style: normal;
       font-weight: 500;
       font-size: 26px;
       line-height: 39px;
       text-align: center;
       color: #626780;
   }
   
   .content-box-great-service-body {
       position: relative;
       display: block;
       height: 92px;
       width: 746px;
       top: -17px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 26px;
       text-align: center;
       color: #626780;
   }
   
   .services-boxes {
       position: relative;
       width: 1137px;
       height: 265px;
       top: 377px;
       left: 235px;
       display: flex;
       flex-direction: row;
   }
   
   .services-boxes-box {
       position: relative;
       width: 261px;
       height: 260px;
   }
   
   .box-one {
       position: absolute;
       width: 261px;
       height: 260px;
   }
   
   .box-two {
       position: absolute;
       margin-left: 31px;
       left: 280px;
   }
   
   .box-three {
       position: absolute;
       margin-left: 31px;
       left: 575px;
   }
   
   .box-four {
       position: absolute;
       margin-left: 31px;
       left: 860px;
   }
   
   .services-boxes-icon {
       position: absolute;
       left: 97px;
       top: 25px;
   }
   
   .services-boxes-head {
       position: absolute;
       width: 100%;
       height: auto;
       top: 109px;
       text-align: center;
       font-family: Poppins;
       font-style: normal;
       font-weight: 500;
       font-size: 22px;
       line-height: 40px;
       color: #626780;
   }
   
   .services-boxes-body {
       position: relative;
       display: flex;
       width: 254px;
       height: auto;
       top: 161px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 16px;
       line-height: 20px;
       text-align: center;
       color: #626780;
   }
   
   @keyframes services-boxes-animation {
       0% {
           border: 1px solid #9D9D9D;
           box-sizing: content-box;
           border-radius: 5px;
       }
       100% {
           border: 1px solid #9D9D9D;
           border-bottom: 7px solid #9D9D9D;
           border-radius: 5px;
       }
   }
   
   .box-hover:hover {
       animation-name: services-boxes-animation;
       animation-duration: 1s;
       animation-iteration-count: 1;
   }
   
   .box-hover {
       position: relative;
       width: 264px;
       height: 250px;
       top: -65px;
   }
   
   .people-here {
       position: relative;
       width: 1600px;
       height: 570px;
       top: 581px;
   }
   
   .people-here-texts {
       position: absolute;
       width: 493px;
       height: 175px;
       left: 245px;
       top: 105px;
   }
   
   .people-here-head {
       position: absolute;
       width: 493px;
       height: 39px;
       font-family: Poppins;
       font-style: normal;
       font-weight: 500;
       font-size: 26px;
       line-height: 39px;
       color: #626780;
   }
   
   .people-here-body {
       position: absolute;
       width: 449px;
       height: 120px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 30px;
       color: #9D9D9D;
       top: 55px;
   }
   
   .people-here-image {
       position: absolute;
       left: 778px;
   }
   
   .video-head {
       position: relative;
       width: 520px;
       height: 126px;
       left: 239px;
       top: 565px;
       font-family: PT Serif;
       font-style: normal;
       font-weight: normal;
       font-size: 48px;
       line-height: 140%;
       color: #402B2B;
       display: block;
   }
   
   .video-body {
       position: absolute;
       width: 1600px;
       height: 780px;
       left: 0px;
       top: 1593px;
       text-align: center;
   }
   
   .video-body-gradient {
       position: absolute;
       width: 1600px;
       height: 740px;
       left: 0px;
       top: 1593px;
       text-align: center;
       background: rgba(56, 63, 79, 0.3);
       z-index: 2;
   }
   
   .question-and-answer-section {
       position: relative;
       width: 1600px;
       height: auto;
       top: 1447px;
       overflow: hidden;
   }
   
   .question-answer-dot-background {
       position: absolute;
       left: 821px;
       top: 150px;
   }
   
   .question-answer-man {
       position: absolute;
       width: 531px;
       height: 730px;
       left: 860px;
       top: 262px;
   }
   
   .question-answer-title {
       text-align: left;
       margin: 138px 0;
       position: relative;
       top: 118px;
       width: 575px;
       height: 142px;
       left: 250px;
       font-family: PT Serif;
       font-style: normal;
       font-weight: normal;
       font-size: 45px;
       line-height: 140%;
       color: #402B2B;
   }
   
   .accordion {
       position: relative;
       width: 1153px;
       height: 1512px;
       left: 245px;
   }
   
   .left {
       position: absolute;
       width: 550px;
       top: 103px;
   }
   
   .right {
       position: absolute;
       width: 550px;
       float: right;
       top: 405px;
       left: 637px;
   }
   
   .accordion-item {
       background-color: #fff;
       color: #402b2b;
       margin: 1rem 0;
       /*border-radius: 0.5rem;*/
       background: #FFFFFF;
       box-shadow: 0px 5px 10px #E0E0E0;
       border-radius: 23px;
       z-index: 2;
       position: relative;
   }
   
   .accordion-item-header {
       padding-top: 25px;
       padding-bottom: 25px;
       padding-left: 35px;
       min-height: 40px;
       display: flex;
       align-items: center;
       position: relative;
       cursor: pointer;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 30px;
       color: #402B2B;
   }
   
   .accordion-item-header::after {
       content: url("arrowRight.svg");
       font-size: 24px;
       position: absolute;
       right: 37px;
   }
   
   .accordion-item-header.active::after {
       content: url("arrowDown.svg");
   }
   
   .accordion-item-body {
       max-height: 0;
       overflow: hidden;
       transition: max-height 0.5s ease-out;
       background: #F5F5FF;
       box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
       border-radius: 10px;
   }
   
   .accordion-item-body-content {
       width: 550px;
       height: auto;
       padding-top: 30px;
       padding-bottom: 60px;
       padding-left: 35px;
       padding-right: 35px;
       font-family: Poppins;
       font-style: normal;
       font-weight: 300;
       font-size: 18px;
       line-height: 30px;
       display: flex;
       align-items: center;
       color: #402B2B;
   }
   
   #loadmore {
       margin: 101px 544px 66px 544px;
       display: block;
       border: none;
       font-size: 18px;
       cursor: pointer;
       color: #fff;
       width: 550px;
       height: 90px;
       background: #9B9BCA;
       border-radius: 10px;
       text-transform: uppercase;
       font-family: Rubik;
       font-style: normal;
       font-weight: bold;
       font-size: 18px;
       line-height: 30px;
       position: relative;
   }
   
   #loadmore:hover {
       background: #fff;
       color: #9B9BCA;
       border: 2px solid #9B9BCA;
   }
   
   .buttonLoadmore {
       position: relative;
       top: 1060px;
       margin-top: 101px;
   }
   
   .best-feature-in-world {
       position: relative;
       width: 660px;
       height: 111px;
       left: 490px;
       top: 1310px;
       margin-top: 167px;
   }
   
   .best-feature-in-world-head {
       font-family: Poppins;
       font-style: normal;
       font-weight: 500;
       font-size: 26px;
       line-height: 39px;
       /* identical to box height */
       /* Blcak green */
       color: #626780;
       text-align: center;
   }
   
   .best-feature-in-world-body {
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 30px;
       /* or 167% */
       text-align: center;
       /* Blcak green */
       color: #626780;
       margin-top: 12px;
   }
   
   .best-feature-in-world-boxes {
       position: relative;
       width: 1600px;
       height: 1030px;
       top: 1477px;
       display: flex;
       flex-direction: row;
       z-index: 1;
       background-image: url("../images/sliderBigDot.png");
       background-position: left;
       background-repeat: no-repeat;
   }
   
   .box {
       position: relative;
       left: 314px;
       width: 442px;
       height: 545px;
       background: #FFFFFF;
       box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
       border-radius: 10px;
       border: 1px solid #d2d2d2;
   }
   
   .two {
       margin-left: 89px;
   }
   
   .box-image {
       width: 339px;
       height: 149px;
       background: url(.jpg);
       border-radius: 10px;
       margin: 60px 52px 53px 51px;
   }
   
   .box-text-head {
       font-family: Poppins;
       font-style: normal;
       font-weight: 500;
       font-size: 26px;
       line-height: 100%;
       /* identical to box height, or 26px */
       color: #000000;
       text-align: center;
   }
   
   .box-text-body {
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 30px;
       /* or 167% */
       text-align: center;
       /* Blcak green */
       color: #626780;
       margin: 22px 48px 0 48px;
   }
   
   .button {
       position: absolute;
       left: 104px;
       top: 509px;
   }
   
   .butOne {
       width: 234px;
       height: 60px;
       background: #9595C9;
       border-radius: 10px;
       font-family: Poppins;
       font-style: normal;
       font-weight: 600;
       font-size: 18px;
       line-height: 27px;
       text-align: center;
       color: #FFFFFF;
   }
   
   .butOne:hover {
       color: #9595C9;
       border: 2px solid #9595C9;
       background: #ffffff;
   }
   
   .buttTwo {
       width: 234px;
       height: 60px;
       background: #F01F35;
       border-radius: 10px;
       font-family: Poppins;
       font-style: normal;
       font-weight: 600;
       font-size: 18px;
       line-height: 27px;
       text-align: center;
       color: #FFFFFF;
   }
   
   .buttTwo:hover {
       color: #F01F35;
       border: 2px solid #F01F35;
       background: #ffffff;
   }
   
   .buttText {
       position: relative;
       top: 17px;
   }
   
   .best-feature-in-world-slider {
       position: relative;
       width: 660px;
       height: 111px;
       left: 830px;
       top: 1017px;
       margin-top: 212px;
       z-index: 1;
   }
   
   .slider-big-dot {
       display: none;
   }
   
   .slider-girl-image {
       position: relative;
       z-index: 2;
       left: -830px;
       top: -409px;
   }
   
   .slider-small-dots-one {
       position: relative;
       top: -749px;
       left: -305px;
   }
   
   .slider-small-dots-two {
       position: relative;
       top: -754px;
       left: -204px;
   }
   
   .slider-small-dots-three {
       position: relative;
       top: -769px;
       left: -100px;
   }
   
   .slider-small-dots-four {
       position: relative;
       top: -1159px;
       left: -305px;
   }
   
   .slider-small-dots-five {
       position: relative;
       top: -1259px;
       left: -250px;
   }
   
   .slider-small-dots-six {
       position: relative;
       top: -1409px;
       left: -155px;
   }
   
   .slider {
       position: relative;
       width: 488px;
       height: 375px;
       left: 85px;
       top: -1196px;
       background: #FFFFFF;
       box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
       border-radius: 10px;
   }
   
   .sliderItem {
       width: 488px;
       height: 375px;
   }
   
   .slider-text-body {
       position: absolute;
       width: 359.62px;
       height: 180px;
       left: 37px;
       top: 60px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 30px;
       color: #9D9D9D;
   }
   
   .slider-profile-name {
       position: absolute;
       width: 179.81px;
       height: 40px;
       left: 184px;
       top: 268px;
       font-family: Poppins;
       font-style: normal;
       font-weight: 600;
       font-size: 18px;
       line-height: 30px;
       display: flex;
       align-items: center;
       color: #626780;
   }
   
   .slider-rating-stars {
       position: absolute;
       width: 34px;
       height: 30px;
       left: 278px;
       top: 312px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 12px;
       line-height: 30px;
       /* identical to box height, or 250% */
       display: flex;
       align-items: center;
       /* gray */
       color: #9D9D9D;
   }
   
   .slider-stars {
       position: absolute;
       width: 84px;
       height: 12px;
       left: 186px;
       top: 320px;
       display: flex;
       flex-direction: row;
   }
   
   .star-two,
   .star-three,
   .star-four,
   .star-five {
       margin-left: 5px;
   }
   
   .slider-rating {
       position: absolute;
       width: 108px;
       height: 30px;
       left: 184px;
       top: 294px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 15px;
       line-height: 30px;
       /* identical to box height, or 187% */
       display: flex;
       align-items: center;
       /* gray */
       color: #9D9D9D;
   }
   
   .slider-profile-photo {
       position: absolute;
       width: 98px;
       height: 98px;
       left: 37px;
       top: 244px;
   }
   
   .slider-button-right {
       position: absolute;
       width: 56px;
       height: 56px;
       left: 419px;
       top: 160px;
   }
   
   .fade {
       animation-name: fade;
       animation-duration: 1.0s;
   }
   
   @keyframes fade {
       from {
           opacity: .2
       }
       to {
           opacity: 1
       }
   }
   
   .login-head {
       position: absolute;
       width: 550px;
       height: 275px;
       left: 243px;
       top: 6280px;
       margin-top: 112px;
       font-family: PT Serif;
       font-style: normal;
       font-weight: normal;
       font-size: 48px;
       line-height: 140%;
       /* or 67px */
       color: #402B2B;
   }
   
   .login-body {
       position: absolute;
       width: 708px;
       height: 566px;
       left: 451px;
       top: 6670px;
       margin-top: 12px;
       margin-bottom: 132px;
       background: #FFFFFF;
       box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
       border-radius: 10px;
   }
   
   .username-input {
       position: absolute;
       width: 400px;
       height: 60px;
       left: 173px;
       top: 155px;
       background: #FFFFFF;
       border: 2px solid #9595C9;
       box-sizing: border-box;
       box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
       border-radius: 10px;
   }
   
   .username-label-placeholder {
       position: absolute;
       left: 175px;
       top: 166px;
       font-family: Poppins;
       font-style: normal;
       font-weight: 500;
       font-size: 18px;
       line-height: 40px;
       padding-left: 40px;
       /* or 222% */
       /* Blcak green */
       color: #626780;
       z-index: 2;
   }
   
   .username-label {
       position: absolute;
       width: 95px;
       height: 38px;
       left: 173px;
       top: 107px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 16px;
       line-height: 40px;
       /* or 250% */
       /* Blcak green */
       color: #626780;
   }
   
   .password-input {
       position: absolute;
       width: 400px;
       height: 60px;
       left: 173px;
       top: 293px;
       background: #FFFFFF;
       border: 1px solid #9595C9;
       box-sizing: border-box;
       border-radius: 5px;
   }
   
   .password-label {
       position: absolute;
       width: 189px;
       height: 38px;
       left: 173px;
       top: 245px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 16px;
       line-height: 40px;
       /* or 250% */
       /* Blcak green */
       color: #626780;
   }
   /* Style the submit button */
   
   .password-label-placeholder {
       position: absolute;
       width: 244px;
       height: 38px;
       left: 213px;
       top: 304px;
       font-family: Rubik;
       font-style: normal;
       font-weight: 300;
       font-size: 18px;
       line-height: 40px;
       /* or 222% */
       /* gray */
       color: #9D9D9D;
       z-index: 2;
   }
   
   .submit-button {
       position: absolute;
       width: 220px;
       height: 60px;
       left: 173px;
       top: 383px;
       background: #9595C9;
       border-radius: 5px;
       border: none;
       font-family: Rubik;
       font-style: normal;
       font-weight: bold;
       font-size: 16px;
       line-height: 19px;
       /* identical to box height */
       display: flex;
       align-items: center;
       letter-spacing: 0.05em;
       text-transform: uppercase;
       color: #FFFFFF;
   }
   
   .registration {
       position: absolute;
       width: 337px;
       height: 40px;
       left: 173px;
       top: 473px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 40px;
       /* identical to box height, or 222% */
       color: #626780;
   }
   
   .registration a {
       color: #F01F35;
   }
   /* The message box is shown when the user clicks on the password field */
   
   #message {
       display: none;
       color: #000;
       position: absolute;
       width: 169px;
       height: 99px;
       left: 404px;
       top: 362px;
       font-family: Poppins;
       font-style: normal;
       font-weight: normal;
       border-radius: 5px;
       text-align: center;
   }
   
   #message p {
       font-size: 10px;
   }
   /* Add a green text color and a checkmark when the requirements are right */
   
   .valid {
       color: green;
   }
   
   .valid:before {
       position: relative;
   }
   /* Add a red text color and an "x" icon when the requirements are wrong */
   
   .invalid {
       color: red;
   }
   
   .invalid:before {
       position: relative;
   }