@media only screen and (min-device-width: 480px) {
    /*
================================================================

header css

================================================================
*/
    /*
================================================================

Start of logo

================================================================
*/
    .header-nav-logo-group {
        position: absolute;
        width: 219px;
        height: 72px;
        left: 245px;
        top: 22px;
    }
    .header-nav-logo-image {
        position: absolute;
        width: 72px;
        height: 72px;
    }
    .header-nav-logo-text {
        position: absolute;
        width: 126px;
        height: 26px;
        left: 93px;
        top: 24px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #505050;
    }
    /*
================================================================

End of logo

================================================================
*/
    /*
================================================================

Start of navbar

================================================================
*/
    header {
        position: relative;
        width: 1600px;
        height: 737px;
        display: flex;
    }
    .header-nav-group {
        width: 100%;
        height: 116px;
        position: relative;
        background-color: rgba(196, 196, 196, 0.1);
    }
    .header-nav-navbar {
        position: absolute;
        width: 440px;
        height: 27px;
        left: 626px;
        top: 44px;
    }
    .navbar-a {
        text-decoration: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #717784;
    }
    @keyframes example {
        0% {
            color: #9B9BCA;
        }
        100% {
            /*font-size: 20px;
        line-height: 30px;*/
            transition: left to right;
            color: #000000;
            text-shadow: #ffffff;
        }
    }
    .navbar-a:hover {
        animation: example 1s;
        animation-iteration-count: 1;
    }
    .header-nav-navbar-home {
        position: absolute;
        width: 54px;
        height: 27px;
    }
    .header-nav-navbar-about {
        position: absolute;
        width: 81px;
        height: 27px;
        left: 112px;
    }
    .header-nav-navbar-service {
        position: absolute;
        width: 66px;
        height: 27px;
        left: 251px;
    }
    .header-nav-navbar-settings {
        position: absolute;
        width: 65px;
        height: 27px;
        left: 375px;
    }
    .header-nav-contact-us-button {
        position: absolute;
        width: 234px;
        height: 60px;
        left: 1124px;
        top: 31px;
        background: #9B9BCA;
        border-radius: 10px;
        border: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
    }
    .header-nav-contact-us-button:hover {
        background: #ffffff;
        border: 2px solid #9B9BCA;
        color: #9B9BCA;
    }
    .header-nav-contact-us-button-text {
        position: absolute;
        width: 101px;
        height: 27px;
        left: 67px;
        top: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
    }
    /*
============================================

end of navbar

=============================================

================================================

Start of the style of the text under the navbar

================================================
*/
    .header-texts {
        position: absolute;
        width: 751px;
        height: 223px;
        left: 245px;
        top: 321px;
    }
    .header-texts-title {
        position: relative;
        top: 0px;
        left: 0px;
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 100%;
        color: #696A86;
        margin: 0;
    }
    .header-texts-body {
        position: relative;
        top: 0px;
        left: 0px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        color: #696A86;
    }
    .header-get-started-button {
        position: absolute;
        width: 234px;
        height: 60px;
        left: 245px;
        top: 565px;
        background: #9B9BCA;
        border-radius: 10px;
        border: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
    }
    .header-get-started-button-text {
        position: absolute;
        left: 66px;
        top: 17px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    .header-get-started-button:hover {
        background: #ffffff;
        border: 2px solid #9B9BCA;
        color: #9B9BCA;
    }
    .header-get-started-button-text:hover {
        color: #9B9BCA;
    }
    /*
================================================

End of the style of the text under the navbar

================================================
*/
}